
p {
    color: rgb(79, 79, 79);
}

.air-data  {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    width: 95%;
    padding: 20px;
    margin: 5px;
}

span{
    color: blue;
    margin-left: 10px;
}

.description {
    font-size: 12px;
    margin: 5px 0px 30px 30px;
}

.app-title {
    color: rgb(84, 84, 84);
    font-size: 28px;
    opacity: 5;
    padding: 10px;
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.title-search {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    background-color: rgba(234, 234, 234, 0.63);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

.good {
    background-color: lawngreen;
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align: center;
}

.moderate {
    background-color: rgb(249, 249, 126);
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: darkslategrey;
    text-align: center;
}

.usg {
    background-color: rgb(250, 180, 51);
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: darkslategrey;
    text-align: center;
}

.unhealthy {
    background-color: rgb(253, 120, 3);
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align: center;
}

.veryunhealthy {
    background-color: rgb(248, 64, 64);
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align: center;
}

.hazardous {
    background-color: rgb(110, 4, 4);
    width: 100px;
    border-radius: 3px;
    padding: 5px;
    color: white;
    text-align: center;
}

.address-form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: auto;
}

.name-form {
    display: block;
}

.form-button,
.returned-name {
    text-align: center;
    margin-top: 10px;
}

.address-form {
    padding-top: 50px;
}

.form-submit {
    background-color: rgb(183, 183, 183);
    color: white;
    border-radius: 7px;
    width: auto;
    min-width: 100px;
    padding: 5px;
    margin: auto;
    border: solid 1px silver;
    text-align: center;
}

.form-submit:hover {
    background-color: white;
    color: blue;
    border-radius: 7px;
    width: auto;
    min-width: 100px;
    padding: 5px;
    margin: auto;
    border: solid 1px silver;
    text-align: center;
    animation: fadeIn 1s ease 1ms 1 normal none;
}

.calculator-card {
    margin: 10px auto;
    padding: 5px;
}

.returned-calculation {
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 829px){
    .air-data  {
        display: block;
        padding: 40px;
    }
    .title-search {
        display: block;
    }
        
}

@media screen and (max-width: 419px){
    * {
        font-size: 14px;
    }
        
}